@import "https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap";
@import "./nav-bar.css";
@import "./msg-box.css";

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/bg/bg1.jpg");
    background-attachment:fixed;
    font-family: 'Heebo', sans-serif;
}
